<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/vue-router@next"></script>
    <style>
        body {background:#eee;color:#000;}
        a {color:#03e;}
        .router-link-exact-active {color:#000;}
    </style>
</head>
<body>

<div id="app">
    <router-link to="/">Home</router-link>&nbsp;
    <router-link to="/about">About</router-link>
    <router-view></router-view>
</div>

<script src="/router.js" type="module"></script>

</body>
</html>